<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>
<script type="text/javascript">
  window.background = '<%= image_url("logo.jpg") %>'
</script>
<div id="root"></div>
