@import 'base/colors.scss';

.formmodal {
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index         : 10;
  width: 100%;
}

.form-div{
  padding: 50px;
  margin: 0 auto;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-button {
  margin-top: 10px;
}

.session-form {
  box-sizing: border-box;
  background-color: white;
  border-radius: 3px;
  padding: 20px;
  width: 450px;
  height: 560px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Jaldi', sans-serif;
}



.login-div {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.input-username {
  width: 400px;
}

.main-div {
  border-top: 5px solid $orange;
  background-image: image-url("login-image.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
  width: calc(100% - 200px);
  margin-left: 100px;
  margin-right: 100px;
}

.logo {
  content: image-url("logo.jpg");
  position: absolute;
  left: 110px;
  height: 100px;
}

.login-heading {
  font-family: 'Jaldi', sans-serif;
  color: white;
  text-align: center;
  font-size: 50px;
  position: relative;
  top: 170px;
  margin: 0 auto;
}

.login-text {
  font-family: 'Jaldi', sans-serif;
  color: white;
  text-align: center;
  font-size: 25px;
  position: relative;
  top: 180px;
  transition: opacity .2s linear;
  width: 40%;
  margin: 0 auto;
}

.op-button {
  background: 0 0;
  color: white;
  border: 1px solid white;
  font-size: 15px;
  border-radius: 3px;
  border-color: white;
  margin-right: 6px;
  margin-top: 15px;
  font-family: 'Jaldi', sans-serif;
  padding: 0 15px;
  height: 30px;
  width: 75px;
  text-align: center;
}

.op-button:hover {
  outline: 0;
  border-color: #ccc;
}

.signup-button {
  border-radius: 3px;
  border: 1px solid $orange;
  width: 130px;
  height: 30px;
  color: white;
  background-color: $orange;
  margin-top: 15px;
  font-family: 'Jaldi', sans-serif;
  font-size: 15px;
}

.signup-button:hover {
  outline: 0;
  border-color: #ccc;
}

.app-div {
  background-color: lightgrey;
}

.input-username{
  border-radius: 3px;
  transition: opacity 0.2s linear;
  border: 1px solid lightgrey;
  padding: 5px;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 15px;
  height: 30px;
}

.session-button {
  border-radius: 3px;
  border: 1px solid $orange;
  width: 130px;
  height: 30px;
  color: white;
  background-color: $orange;
  margin-top: 15px;
  font-family: 'Jaldi', sans-serif;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 20px;
}

.guest-login {
  border-radius: 3px;
  width: 60%;
  height: 30px;
  color: white;
  background-color: lightblue;
  font-family: 'Jaldi', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  background: dodgerblue;
  border: 2px solid dodgerblue;
  text-align: center;
  padding-bottom: 35px;
}

.guest-div {
  display: flex;
  position: relative;
  bottom: 100px;
}


.modal-divide {
  font-family: 'Jaldi', sans-serif;
  font-size: 40px;
  margin: 0 auto;
  position: relative;
  bottom: 45px;
  padding: 5px;
  line-height:20.8px;
  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 16px;
  position: relative;
  text-align: center;
  visibility: visible;
}

.modal-divide::before {
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 1px;
  content: '';
  display: block;
  left: 0px;
  position: absolute;
  top: 16.5px;
  width: 172px;
}

.modal-divide::after {
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 1px;
  content: '';
  display: block;
  right: 0px;
  position: absolute;
  top: 16.5px;
  width: 172px;
}

.errors {
  text-align: center;
  margin-top: 20px;
  color: #f50;
}
//
// .parent-div {
//   background-color: $black;
//   overflow: hidden;
//   display: flex;
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 2;
// }
//
// .parent-div a {
//   text-decoration: none;
//   font-family: 'Jaldi', sans-serif;
//   font-size: 24px;
//   color: $lightgrey;
//
// }

.top {
  width: 100%;
  display: flex;
  margin: auto;
  position: fixed;
  background-color: $lightgrey;
}

.parent-div {
  display: flex;
  background-color: $black;
  width: 75%;
  margin: auto;
  height: 52px;
}

.parent-div button {
  font-size: 24px;
  font-family: 'Jaldi', sans-serif;
  text-decoration: none;
  color: white;
}

.nav-profile {
  border-right: 1px solid #111;
  text-align: center;
  padding: 15px;
}

.nav-logout {
  border-right: 1px solid #111;
  text-align: center;
  padding: 15px;
}

.parent-div a {
  font-size: 24px;
  font-family: 'Jaldi', sans-serif;
  text-decoration: none;
  color: white;
}

.nav-home {
  border-right: 1px solid #111;
  text-align: center;
  padding: 15px;
}

.nav-logout {
  border-right: 1px solid #111;
  text-align: center;
  padding: 15px;
}
.nav-collection  {
  padding: 15px;
  text-align: center;
  border-right: 1px solid #111;
}

.nav-search   {
  padding: 15px 15px 0px 15px;
  border-right: 1px solid #111;
}

.nav-upload  {
  border-right: 1px solid #111;
  text-align: center;
  padding: 15px;
}





.img-div {
  height: 50px;
  width: 50px;
}

.nav-logo {
  display: flex;
  justify-content: center;
  background: $orange;
  width: 50px;
  height: 52px;
  border: none;
  z-index: 10;
}


.nav-search input {
  width: 300px;
}

.usershow-parent {
  position: absolute;
  top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $lightgrey;
  margin-bottom: 2px;
}

.usershow-header {
  background: linear-gradient(315deg, rgb(156, 155, 156) 0%, rgb(68, 58, 61) 100%);
  display: flex;
  margin: auto;
  align-items: center;
  height: 300px;
  width: 75%;
}

.avatar{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-left: 15px;
}

.userheader-name {
  color: white;
  background: black;
  font-size: 50px;
  font-family: 'Jaldi', sans-serif;
  margin-left: 45px;
  padding: 3px;
}

.user-options{
  display: flex;
  color: $black;
  font-family: 'Jaldi', sans-serif;
  font-size: 25px;
  line-height: 1.8;
  list-style: none;
  margin-top: 5px;
}


.user-options li {
  align-items: flex-start;
  border-bottom: 1px solid $lightgrey;
  margin-left: 25px;
}


.user-links {
  display:flex;
  background: white;
  width: 75%;
  margin: auto;
}

.app-div {
  display: flex;
}
