@import 'base/colors.scss';

//login/signup page

.formmodal {
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index         : 10;
  width: 100%;
}

.form-div{
  padding: 50px;
  margin: 0 auto;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-button {
  margin-top: 10px;
}

.hidden {
  display: none;
}

html {
  background-color: $lightgrey;
}



.father-div {
  display: flex;
  flex-direction: column;
  width: calc(100% - 200px);
  margin: auto;
}

.login-peak {
  width: calc(100% - 200px);
  margin-left: 100px;
  margin-right: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: white;
}

.login-parentdivs {
  display: flex;
  width: 100%;
  margin: auto;
  color: white;
  flex-direction: column;
}

.login-search {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.login-search input {
  padding: 20px;
  width: 50%;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid $black;
}

.loginheading-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginheading-text {
  font-size: 35px;
  font-family: 'Jaldi', sans-serif;
  font-weight: bold;
  color: black;
  padding-bottom: 25px;
}

.loginalbum-text {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 25px;
  font-family: 'Jaldi', sans-serif;
  padding: 10px;
  align-items: center;
  color: $black;
  justify-content: center;
  padding: 10px 0px 0px 0px;
}

.songs-div {
  width: 900px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.loginalbumart-div {
  display: flex;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}

.loginalbumart-div img {
  width: 180px;
  height: 180px;
  border: 1px solid black;
}

.session-form {
  box-sizing: border-box;
  background-color: white;
  border-radius: 3px;
  padding: 20px;
  width: 450px;
  height: 560px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Jaldi', sans-serif;
  border: 1px solid black;
}



.login-div {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.input-username {
  width: 400px;
}

.main-div {
  border-top: 5px solid $orange;
  background-image: image-url("login-image.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
  width: calc(100% - 200px);
  margin-left: 100px;
  margin-right: 100px;
}

.logo {
  content: image-url("logo.jpg");
  position: absolute;
  left: 200px;
  height: 100px;
}

.login-heading {
  font-family: 'Jaldi', sans-serif;
  color: white;
  text-align: center;
  font-size: 50px;
  position: relative;
  top: 170px;
  margin: 0 auto;
}

.login-text {
  font-family: 'Jaldi', sans-serif;
  color: white;
  text-align: center;
  font-size: 25px;
  position: relative;
  top: 180px;
  transition: opacity .2s linear;
  width: 40%;
  margin: 0 auto;
}

.op-button {
  background: 0 0;
  color: white;
  border: 1px solid white;
  font-size: 15px;
  border-radius: 3px;
  border-color: white;
  margin-right: 6px;
  margin-top: 15px;
  font-family: 'Jaldi', sans-serif;
  padding: 0 15px;
  height: 30px;
  width: 75px;
  text-align: center;
  cursor: pointer;
}

.op-button:hover {
  outline: 0;
  border-color: #ccc;
}

.signup-button {
  border-radius: 3px;
  border: 1px solid $orange;
  width: 130px;
  height: 30px;
  color: white;
  background-color: $orange;
  margin-top: 15px;
  font-family: 'Jaldi', sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.signup-button:hover {
  outline: 0;
  border-color: #ccc;
}

.app-div {
  background-color: lightgrey;
  padding: none;
}

.input-username{
  border-radius: 3px;
  transition: opacity 0.2s linear;
  border: 1px solid lightgrey;
  padding: 5px;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 15px;
  height: 30px;
}

.session-button {
  border-radius: 3px;
  border: 1px solid $orange;
  width: 130px;
  height: 30px;
  color: white;
  background-color: $orange;
  margin-top: 15px;
  font-family: 'Jaldi', sans-serif;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
}

.guest-login {
  border-radius: 3px;
  width: 60%;
  height: 30px;
  color: white;
  background-color: lightblue;
  font-family: 'Jaldi', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  background: dodgerblue;
  border: 2px solid dodgerblue;
  text-align: center;
  padding-bottom: 35px;
  cursor: pointer;
}

.guest-div {
  display: flex;
  position: relative;
  bottom: 100px;
}


.modal-divide {
  font-family: 'Jaldi', sans-serif;
  font-size: 40px;
  margin: 0 auto;
  position: relative;
  bottom: 45px;
  padding: 5px;
  line-height:20.8px;
  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 16px;
  position: relative;
  text-align: center;
  visibility: visible;
}

.modal-divide::before {
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 1px;
  content: '';
  display: block;
  left: 0px;
  position: absolute;
  top: 16.5px;
  width: 172px;
}

.modal-divide::after {
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 1px;
  content: '';
  display: block;
  right: 0px;
  position: absolute;
  top: 16.5px;
  width: 172px;
}

.errors {
  text-align: center;
  margin-top: 20px;
  color: #f50;
}

.top {
  width: 100%;
  display: flex;
  margin: auto;
  position: fixed;
  background-color: $black;
  z-index: 5;
}

.parent-div {
  display: flex;
  background-color: $black;
  width: 75%;
  margin: auto;
  height: 52px;
  justify-content: space-between;
}

.parent-div button {
  font-size: 24px;
  font-family: 'Jaldi', sans-serif;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

//navbar

.nav-profile {
  text-align: center;
  padding: 15px;
  font-size: 24px;
  font-family: 'Jaldi', sans-serif;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  cursor: pointerl
}

.navimg-div {
  display: flex;
  flex-direction: column;
  width: 30px;
  padding-left: 6px;
  align-items: flex-end;
  box-sizing: border-box;
}

.active {

  display: flex;

  flex-direction: column;
}


.dropdown-li {
  background: $black;
  font-size: 15px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  background-color: $black;
  position: relative;
  left: 144px;
  border: 1px solid black;
  width: 120px;
  min-width: 120px;
  padding-right: 120px;
  box-shadow: 3px 8px 16px 3px rgba(0, 0, 0, 0.6);
  z-index: 40;
  text-decoration: none;
  align-items: center;
  justify-content: baseline;
  cursor: pointer;

}




.dropdown-li:first-child{
  background: $black;
  font-size: 15px;
  margin-top: 12.1px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  background-color: $black;
  position: relative;
  left: 144px;
  border: 1px solid black;
  width: 120px;
  min-width: 120px;
  padding-right: 120px;
  box-shadow: 3px 8px 16px 3px rgba(0, 0, 0, 0.6);
  z-index: 40;
  text-decoration: none;
  align-items: center;
  justify-content: baseline;
  cursor: pointer;
}

.dropdown-li {
  margin-top: none;
  padding-left: 0px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: baseline;
  width: 220px;
  cursor: pointer;
}

.dropdown-li a {
  padding: 9px;
  cursor: pointer;
}

.dropdown-logout a {
 padding: 9px;
cursor: pointer;
}

.nav-profile img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding-left: 3px;
  cursor: pointer;
}

.nav-logout {
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

.dropdown-div {
  display: flex;
  flex-direction: column;
}

.parent-div a {
  font-size: 24px;
  font-family: 'Jaldi', sans-serif;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.name {
  cursor: pointer;
}

.nav-home {
  text-align: center;
  padding: 15px;
}

.nav-home:active {
  background-color: black;
  box-shadow: 0px 0px 4px $orange;
  color: $orange;
}

.nav-home:hover{
  background: $orange;
}

.nav-logout {
  text-align: center;
  padding: 15px;
}

.nav-logout:hover{
  background: $orange;
}


.nav-logout:active {
  background-color: black;
  box-shadow: 0px 0px 4px $orange;
  color: $orange;
}

.nav-logout:hover{
  background: $orange;
}


.nav-collection  {
  padding: 15px;
  text-align: center;
  border-right: 1px solid #111;
}

.nav-collection:hover{
  background: $orange;
}


.nav-collection:active {
  background-color: black;
  box-shadow: 0px 0px 4px $orange;
  color: $orange;
}

.nav-search   {
  padding: 15px 15px 0px 15px;
  border-right: 1px solid #111;
  display: flex;
  justify-content: center;
}

.nav-search input  {
  font-size: 50px;
  font-family: 'Jaldi', sans-serif;
}

.nav-search:active {
  background-color: black;
  box-shadow: 0px 0px 4px $orange;
  color: $orange;
}

.nav-upload{
  text-align: center;
  padding: 15px;
}

.nav-upload:active {
  background-color: black;
  box-shadow: 0px 0px 4px $orange;
  color: $orange;
}
.nav-upload:hover{
  background: $orange;
}






.img-div {
  height: 50px;
  width: 50px;
}

.nav-logo {
  display: flex;
  justify-content: center;
  background: $orange;
  width: 50px;
  height: 52px;
  border: none;
  z-index: 10;
}

.nav-profile:active {
  background-color: black;
  box-shadow: 0px 0px 4px $orange;
  color: $orange;
}

.nav-profile:hover{
  background: $orange;
}


.nav-search input {
  width: 300px;
  text-indent: 2px;
  padding: 2px;
}


// usershow page
.usershow-parent {
  position: absolute;
  top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $lightgrey;
  margin-bottom: 2px;
}

.usershow-header {
  background: linear-gradient(315deg, rgb(156, 155, 156) 0%, rgb(68, 58, 61) 100%);
  display: flex;
  margin: auto;
  align-items: center;
  height: 300px;
  width: 75%;
}

.avatar{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-left: 15px;
}

.userheader-name {
  color: white;
  background: black;
  font-size: 50px;
  font-family: 'Jaldi', sans-serif;
  margin-left: 45px;
  padding: 3px;
}

.user-options{
  display: flex;
  color: $black;
  font-family: 'Jaldi', sans-serif;
  font-size: 25px;
  line-height: 1.8;
  list-style: none;
  margin-top: 5px;
}


.user-options li {
  align-items: flex-start;
  border-bottom: 1px solid $lightgrey;
  margin-left: 25px;
}


.user-links {
  display:flex;
  background: white;
  width: 75%;
  margin: auto;
  flex-direction: column;
}

.app-div {
  display: flex;
  background: $lightgrey;
}

.user-songs {
  width: 90%;
  margin: auto;
  background: white;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  justify-content: flex-start;
  margin: 20px 0px 20px;
}


//uploadform

.upload-parentdiv {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $lightgrey;
  margin-bottom: 2px;
}

.upload-img-div {
  display: flex;
  justify-content: flex-start;
  padding-top: 100px;
  box-sizing: border-box;
  width: 350px;
  padding-right: 120px;
  align-items: baseline;
}

.upload-img-div input {
  position: relative;
  right: 175px;
  top: 230px;
  height: 20px;
}

.upload-text {
  padding-top: 10px;
  font-size: 15px;
  font-family: 'Jaldi', sans-serif;
  font-size: 18px;
}

.text-div{
  display: flex;
  justify-content: center;
  text-align: center;
}

.upload-art {
  width: 100%;
  height: 250px;
  cursor: pointer;
}

.uploadform-div {
  width: 75%;
  background: white;
  margin: auto;
  padding: 30px;
  height: 100%;
  justify-content: center;
  box-sizing: border-box;
}

.upload-headingdiv {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  font-size: 45px;
  font-family: 'Jaldi', sans-serif;
}

.uploadform-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
}

.border-div {
  box-sizing: border-box;
  box-shadow: 10px 10px 5px #888888;
  border: 2px solid $lightgrey;
  padding-bottom: 100px;
}

.title-input {
  height: 20px;
  border: 1px solid $orange;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  padding: 10px;
}

.form-field {
  font-size: 20px;
  padding: 7px 7px 7px 0px;
  font-family: 'Jaldi', sans-serif;
}

textarea.title-input  {
  height: 50px;
  font-size: 20px;
}

input[type="file"] {
  border: none;
  color: inherit;
  visibility: hidden;
  z-index: 1000;
}

.upload-button {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  cursor: pointer;
}

.real-uploadbutton {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border-radius: 3px;
  border: 1px solid $orange;
  width: 120px;
  height: 30px;
  color: white;
  background-color: $orange;
  font-family: 'Jaldi', sans-serif;
  font-size: 14px;
  cursor: pointer;
  z-index: 100;
}

.fake-buttondiv {
  display: flex;
  align-items: center;
}

#albumart-upload{
  width: 100%;
  height: 100%;
}

.u-button {
  border-radius: 3px;
  border: 1px solid $orange;
  width: 130px;
  height: 30px;
  color: white;
  background-color: $orange;
  margin-top: 15px;
  font-family: 'Jaldi', sans-serif;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
}


//audio-player

.audio-parent{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50px;
  flex-direction: column;
  margin-bottom: 2px;
  background: $lightgrey;
  box-sizing: border-box;
  padding-bottom: 50px;
}

.headings-div {
  margin: 20px;
  padding: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  width: 73.5%;
  justify-content: flex-start;
  background: white;
  margin: auto;
  align-items:center;
}

.audio-div {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.stream-heading {
  font-family: 'Jaldi', sans-serif;
  font-size: 24px;
  margin: 5px;
  text-decoration: none;
  color: black;
}

.stream-heading a {
  color: black;
}

.stream-heading:active {
  color: $orange;
  border-color: $orange;
}

.index-div {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 15px;
  margin-bottom: 12px;
  border-bottom: 1px solid $lightgrey;
}

.stream-index {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: flex-start;
  flex-direction: column;
  background: white;
  margin: 30px 0px 0px 30px;
}

.stream-text {
  margin-bottom: 25px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  color: grey;
  font-family: 'Jaldi', sans-serif;
}




//player-info

.play-parent {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding-bottom: 100px;
}

.artist-img-div {
  height: 35px;
}

.artist-info-div {
  display: flex;
  flex-direction: row;
  padding-bottom: 18px;
  text-decoration: none;
  justify-content: baseline;
}

.like-div {
  height: 25px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  padding: 2px 2px 1px 2px;
  cursor: pointer
}

.likecount {
  margin-left: 2px;
  font-family: 'Jaldi', sans-serif;
  font-size: 17px;
}

.unlike-div {
  height: 25px;
  border: 1px solid #f50;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  padding: 2px 2px 1px 2px;
  cursor: pointer;
  color: #f50;
}

.unlikecount {
  margin-left: 2px;
  font-family: 'Jaldi', sans-serif;
  font-size: 17px;
  color: #f50;
}

.delete-bro {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.play-artist-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.artist-post-info {
  font-family: 'Jaldi', sans-serif;
  font-size: 18px;
  color: grey;
  align-items: flex-end;
  margin-left: 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.artist-post-info a {
  text-decoration: none;
  color: grey;
  padding-right: 2px;
}

.flex-row-div {
  display: flex;
  flex-direction: row;
}

.albumart-div {
  height: 160px;
  width: 160px;
  display: flex;
}

.albumart-div img {
  width: 100%;
}

.song-info-div {
  display: flex;
  flex-direction: row;
}

.genre-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius:10px;
  font-family: 'Jaldi', sans-serif;
  font-size: 17px;
  background: grey;
  color: white;
  margin-left: 20px;
  height: 40px;
}

.genre-div span {
  text-align: center;
  width: 100px;
}


.artistpost-songart-div {
  display: flex;
  flex-direction: row;
}

.playbutton-div {
  display: flex;
  margin-left:  20px;
  flex-direction: row;
  background: $orange;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  align-items: center;
  height: 70px;
}

.playbutton-div i {
  display: flex;
  width: 70px;
  font-size: 27px;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.songplay-div {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  font-family: 'Jaldi', sans-serif;
  padding-left: 10px;
}

.songartist {
  display: flex;
  align-self: baseline;
  width:auto;
  font-size: 18px;
}

.songartist a {
  text-decoration: none;
  color: grey;
  cursor: pointer;
}

.songartist a:hover {
  color: black;
}

.songtitle {

  font-size: 20px;
  display: flex;
  align-self: baseline;
}

.songtitle a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.button-parent {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 300px;
}

.delbutton-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.play-audio-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delbutton-div i {
  cursor: pointer;
  color: black;
  padding: 10px;
}

.delbutton-div a {
  text-decoration: none;
}

//songshow

.songshow-parent {
  position: absolute;
  top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $lightgrey;
  margin-bottom: 2px;
}

.songshow-header {
  background: url(https://s3.us-east-2.amazonaws.com/awaaz-dev/song-show-art.jpg);
  background-position: center;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: auto;
  height: 380px;
  width: 75%;
  min-width: 1000px;
}


  .alb-div {
    display: flex;

  }


.songshow-albumart{
  display: flex;
  height: 310px;
  width: 310px;
  padding-right: 40px;
}

.songheader-name {
  color: white;
  background: black;
  font-size: 50px;
  font-family: 'Jaldi', sans-serif;
  padding: 3px;
  margin-bottom: 5px;
  text-align: center;
}

.song-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.songheader-title {
  color: white;
  background: black;
  font-size: 50px;
  font-family: 'Jaldi', sans-serif;
  padding: 3px;
  text-align: center;
}

.songshow-info {
  height: 300px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  position: relative;
  right: 12%;
  margin-left: 50px;
}


.playbuttonshow-div {
  display: flex;
  margin-left:  30px;
  flex-direction: row;
  background: $orange;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  margin-right: 50px;
  align-items: center;
  height: 70px;
}

.playbuttonshow-div i {
  display: flex;
  width: 70px;
  font-size: 30px;
  justify-content: center;
  cursor: pointer;
}

.button-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.moment-text {
  color: white;
  padding-right: 14px;
  font-size: 20px;
  font-family: 'Jaldi', sans-serif;
  text-align: center;
}


// commentform

.comment-parent {
  width: 74%;
  margin: auto;
  display: flex;
  background: white;
  justify-content: center;
  padding: 10px 0px 0px 10px;
  height: 100px;
  align-items: center;
  border-bottom: 1px solid $lightgrey;
}

.comment-input {
  height: 20px;
  font-family: 'Jaldi', sans-serif;
  width: 75%;
  padding: 2px;
  font-size: 15px;
}

.commentimg-div {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.commentimg {
  width: 50px;
  height: 50px;
}

.comment-button {
  border-radius: 3px;
  border: 1px solid $orange;
  width: 70px;
  height: 28px;
  color: white;
  margin-left: 4px;
  background-color: $orange;
  font-family: 'Jaldi', sans-serif;
  font-size: 15px;
  cursor: pointer;
}

//comment-index

.comment-index {
  display: flex;
  flex-direction: row;
  width: 74%;
  justify-content: space-between;
  margin: auto;
  background: white;
  padding: 10px 0px 0px 10px;

}

.comment-authordiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px 0px 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid $lightgrey;
}

.comment-authordiv img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.comment-items  {
  display: flex;
  list-style: none;
  margin: 5px;
  padding-left: 5px;
  width: 300px;
  border-bottom: 1px $lightgrey;
  font-size: 20px;
  font-family: 'Jaldi', sans-serif;
}

.comment-uldiv {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: flex-start;
  padding-right: 100px;
}

.comment-albumart {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-left: 28px;
}

.songshow-commentphotodiv {
  padding: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 100px;
}

.description-text {
  margin-top: 10px;
  font-weight: normal;
  font-family: 'Jaldi', sans-serif;
  color: grey;
}

.comment-artistinfo {
  display: flex;
  flex-direction: column;
}

.bold-heading {
  font-size: 20px;
  font-family: 'Jaldi', sans-serif;
  font-weight: bold;
  color: $black;
  padding-top: 10px;
  margin-top: 15px;
  margin-left: 28px;
}

.comment-text {
  font-size: 18px;
  font-family: 'Jaldi', sans-serif;
  color: grey;
  margin-top: 15px;
  margin-left: 28px;
}

.comment-containerdiv {
  width: 100%;
  height: 100%;
}

.trash-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.userdivs {
  display: flex;
  width: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userdivs {
  text-align: center;
}

.userlinks  {
  padding-right: 7px;
  font-size: 18px;
  font-family: 'Jaldi', sans-serif;
  color: $orange;
}


// footerbar

.bottom {
  width: 100%;
  display: flex;
  margin: auto;
  position: fixed;
  bottom: 0px;
  background-color: $lightgrey;
  z-index: 5;
  border: 1px solid $footergrey;
  height: 60px;
}

.footer-play {
  width: 100%;
  display: flex;
}


.house-playbardiv {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
}

.house-playbardiv i {
  padding: 0px 10px 0px 10px;
  height: 15px;
  cursor: pointer;
}

  #progress {
    height: 100%;
    color: black;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 500;
  }

  .progressbar-div {
    display: flex;
    width: 100px;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .progressdiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .track-info {
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
  }

  .playeralbum-info {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .songinfo-footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%
  }

  .playeralbum-info img {
    width: 40px;
    height: 40px;
  }

  .songinfo-footer {
    display: flex;
    flex-direction: column;
  }

  .albuminfo-house {
    display: flex;
    width: 2000px;
    height: 100%;
    justify-content: flex-end;
    padding-right: 100px;

  }

  .songinfo-footer {
    padding-left: 20px;
    font-size: 18px;
    font-family: 'Jaldi', sans-serif;
    justify-content: center;
  }

  .songinfo-footer span {
    padding: 1px 0px 0px 3px;
    color: $orange;
  }

  .progressbar-div{
    width: 1000px;
  }

  .progress-div {
    width: 500px;
    height: 2px;
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .color-div{
    height: 2px;
    background-color: $orange;
    -webkit-appearance: none;
    -moz-appearance: none;
    z-index: 2000;
    width: 100%;
  }


  .color-div::-webkit-slider-thumb {
    background-color: $orange;
    -webkit-appearance: none;
    color: $orange;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  .progressbar-div {
    height: 100%;
    width: 7000px;
    display: flex;
    align-items: center;
  }

  .elapsedTime {
    font-size: 15px;
    font-family: 'Jaldi', sans-serif;
    font-weight: bold;
    margin-right: 10px;
  }

  .totalTime {
    font-size: 15px;
    font-family: 'Jaldi', sans-serif;
    font-weight: bold;
    margin-left: 10px;
  }

  .volume-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
  }

  #volume {
    background-color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    height: 2px;
    cursor: pointer;
  }



  #volume::-webkit-slider-thumb {
    background-color: $orange;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }


// waveforms

.waveform-div {
  width: 800px;
  margin-left: 90px;
  padding-top: 90px;
}

.wave-father {
  display: flex;
  flex-direction: row;
}

.wave-parent {
  display: flex;
  flex-direction: row;
}

canvas {
  width: 500px;
}

.songshow-wave {
  width: 650px;
  margin-left: 20px;
  position: absolute;
  margin-top: 120px;
}
